---
import { Image } from 'astro:assets';

import AxolotlPink from '@/assets/images/axolotl-pink.png';
---

<header class="h-28 px-3 py-2">
  <div class="max-w-7xl mx-auto h-full flex items-center justify-between">
    <Image
      class="w-[112px]"
      src={AxolotlPink}
      width={284}
      height={249}
      alt="Axolotl code"
    />

    <button
      type="button"
      class="size-10 border border-primary-500 rounded-[5px] px-4 py-2"
    >
      M
    </button>
  </div>
</header>
