<section class="bg-gray-200">
  <div
    class="max-w-7xl mx-auto px-4 md:px-6 py-10 xl:py-[105px] flex flex-col items-center justify-center text-center gap-6"
  >
    <div
      class="w-full flex flex-col gap-6 bg-gradient-to-br from-transparent from-20% to-white/70 border border-[#FFFFFF] py-12 px-[34px] rounded-[29px]"
    >
      <span
        class="text-[28px] leading-8 font-bold xl:text-[40px] xl:leading-[48px]"
        >¿Estás listo para llevar tus ideas al siguiente nivel?
      </span>
      <p class="text-sm leading-6 xl:text-base xl:leading-7">
        Hablemos y descubre cómo podemos ayudarte. O explora nuestras opciones y
        encuentra la solución perfecta para tu negocio.
      </p>
      <div
        class="w-full flex flex-col xs:flex-row items-center justify-center gap-y-2.5 gap-x-6 text-sm xl:text-base"
      >
        <a
          href="/"
          class="py-1 px-2 rounded-[5px] border border-primary-500 bg-primary-500 text-primary-50"
        >
          Contáctanos
        </a>
        <a
          href="/"
          class="py-1 px-2 rounded-[5px] border border-primary-500 text-primary-500"
          >Nuestros planes</a
        >
      </div>
    </div>
  </div>
</section>
