<div class="background">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  .background {
    @apply absolute w-dvw h-dvh top-0 left-0 overflow-hidden z-[-1];
  }

  .background span {
    @apply w-[12vmin] h-[12vmin] md:w-[15vmin] md:h-[15vmin] rounded-[20vmin] absolute animate-[move_45s_linear_infinite] blur-lg shadow-2xl opacity-80;
    backface-visibility: hidden;
  }
  .background span:nth-child(0) {
    @apply bg-[#E45A84] top-[5%] left-[26%] duration-[36s] delay-[-38s] origin-[6vw_-3vh];
  }
  .background span:nth-child(1) {
    @apply bg-[#9a82c4] top-[23%] left-[16%] duration-[35s] delay-[-5s] origin-[7vw_-14vh];
  }
  .background span:nth-child(2) {
    @apply bg-[#9a82c4] top-[95%] left-[43%] duration-[18s] delay-[-26s] origin-[-23vw_-12vh];
  }
  .background span:nth-child(3) {
    @apply bg-[#E45A84] top-[85%] left-[44%] duration-[39s] delay-[-21s] origin-[5vw_-15vh];
  }
  .background span:nth-child(4) {
    @apply bg-[#FFACAC] top-[66%] left-[60%] duration-[50s] delay-[-9s] origin-[17vw_-24vh];
  }
  .background span:nth-child(5) {
    @apply bg-[#FFACAC] top-[30%] left-[63%] duration-[27s] delay-[-4s] origin-[-11vw_22vh];
  }
  .background span:nth-child(6) {
    @apply bg-[#9a82c4] top-[60%] left-[26%] duration-[52s] delay-[-45s] origin-[13vw_18vh];
  }
  .background span:nth-child(7) {
    @apply bg-[#FFACAC] top-[64%] left-[80%] duration-[38s] delay-[-44s] origin-[21vw_-18vh];
  }
  .background span:nth-child(8) {
    @apply bg-[#9a82c4] top-[28%] left-[90%] duration-[14s] delay-[-35s] origin-[10vw_1vh];
  }
  .background span:nth-child(9) {
    @apply bg-[#E45A84] top-[30%] left-[76%] duration-[37s] delay-[-46s] origin-[24vw_-2vh];
  }
</style>
