---
import { Image } from 'astro:assets';
import AboutUsImage from '@/assets/images/aboutUs/aboutUs.png';
---

<section class="bg-foreground">
  <div
    class="max-w-7xl mx-auto px-3 flex flex-col md:flex-row gap-10 py-10 md:items-center md:gap-[50px] md:py-[12px]"
  >
    <div
      class="w-full flex flex-col gap-4 text-center text-sm text-light-color leading-6 md:text-left lg:text-base lg:leading-7"
    >
      <span class="text-primary-500 leading-5 text-base lg:text-[24px]"
        >Sobre nosotros</span
      >
      <h2
        class="font-bold text-[28px] leading-8 lg:text-[40px] lg:leading-[48px]"
      >
        Conoce nuestra
        <span class="text-secondary-500">historia</span>
      </h2>
      <p class="mb-2">
        Axolotl Code nació con la misión de transformar las ideas de nuestros
        clientes en soluciones tecnológicas de alto impacto. Desde nuestros
        inicios, hemos priorizado la innovación, la calidad y la seguridad en
        cada proyecto, trabajando con un equipo comprometido y apasionado.
      </p>
      <p>
        A lo largo de nuestra trayectoria, hemos ayudado a empresas de diversos
        sectores a modernizar sus procesos y alcanzar sus objetivos en un mundo
        digital en constante evolución. Nos enorgullece ser aliados estratégicos
        en la transformación tecnológica de nuestros clientes.
      </p>
    </div>
    <div class="hidden md:block w-full">
      <Image src={AboutUsImage} alt="Sobre nosotros" />
    </div>
  </div>
</section>
