---
import { Image } from 'astro:assets';
import { getLangFromUrl, useTranslations } from '@/libs/i18n/utils';
import AboutUsImage from '@/assets/images/aboutUs/aboutUs.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="bg-foreground overflow-hidden">
  <div
    class="max-w-7xl mx-auto px-3 md:px-6 xl:px-[70px] flex flex-col md:flex-row gap-10 py-10 md:items-center md:gap-[50px] xl:py-[71px]"
  >
    <div
      class="about-info w-full flex flex-col gap-4 text-center text-sm text-light-color leading-6 md:text-left lg:text-base lg:leading-7"
    >
      <span class="text-primary-500 leading-5 text-base lg:text-[24px]"
        >{t('about.about.span')}</span
      >
      <h2
        class="font-bold text-[28px] leading-8 lg:text-[40px] lg:leading-[48px]"
        set:html={t('about.about.title')}
      />
      <p class="mb-2">
        {t('about.about.text-1')}
      </p>
      <p>
        {t('about.about.text-2')}
      </p>
    </div>
    <div class="about-image hidden md:block w-full">
      <Image
        src={AboutUsImage}
        alt={t('about.about.alt')}
        loading="eager"
        width={548}
        height={548}
      />
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/dist/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  const info = document.querySelector('.about-info');
  const image = document.querySelector('.about-image');

  gsap.set([image, info], {
    opacity: 0,
    x: (index) => (index === 0 ? 500 : -500),
  });

  ScrollTrigger.create({
    trigger: info,
    start: 'top 60%',
    end: 'bottom 20%',
    toggleActions: 'play none none reverse',
    onEnter: () => {
      gsap.to(info, {
        opacity: 1,
        x: 0,
        duration: 1,
        ease: 'power4.out',
      });
    },
    onLeaveBack: () => {
      gsap.to(info, {
        opacity: 0,
        x: -500,
        duration: 1,
        ease: 'power4.out',
      });
    },
  });

  ScrollTrigger.create({
    trigger: image,
    start: 'top 60%',
    toggleActions: 'play none none reverse',
    onEnter: () => {
      gsap.to(image, {
        opacity: 1,
        x: 0,
        duration: 1,
        ease: 'power4.out',
      });
    },
    onLeaveBack: () => {
      gsap.to(image, {
        opacity: 0,
        x: 500,
        duration: 1,
        ease: 'power4.out',
      });
    },
  });
</script>
