---
import TimeStep from './time-step.astro';

const timeSteps = [
  {
    title: 'Investigación y recopilación de información',
    description: 'Descubramos juntos lo que necesitas y cómo podemos lograrlo.',
    image: () => import('@/assets/images/aboutUs/time-step-1.png'),
  },
  {
    title: 'Planificación (mapa del sitio, wireframes, etc.)',
    description: 'Estructuramos tus ideas para darle vida a tu proyecto.',
    image: () => import('@/assets/images/aboutUs/time-step-2.png'),
  },
  {
    title: 'Diseño y prototipos del sitio web',
    description: 'Creamos bocetos atractivos que reflejen tu visión.',
    image: () => import('@/assets/images/aboutUs/time-step-3.png'),
  },
  {
    title: 'Creación de contenido',
    description: 'Damos voz a tu sitio con textos e imágenes impactantes.',
    image: () => import('@/assets/images/aboutUs/time-step-4.png'),
  },
  {
    title: 'Desarrollo frontend y backend',
    description:
      'Construimos tu sitio para que funcione perfecto y luzca increíble.',
    image: () => import('@/assets/images/aboutUs/time-step-5.png'),
  },
  {
    title: 'Pruebas de calidad y despliegue',
    description:
      'justamos los últimos detalles para un lanzamiento sin problemas.',
    image: () => import('@/assets/images/aboutUs/time-step-6.png'),
  },
  {
    title: 'Mantenimiento y actualizaciones',
    description:
      'Nos aseguramos de que tu sitio siga siendo espectacular con el tiempo.',
    image: () => import('@/assets/images/aboutUs/time-step-7.png'),
  },
];
---

<section class="bg-foreground">
  <div class="max-w-7xl mx-auto px-3 py-20 text-center">
    <span class="text-primary-500 leading-5 text-base lg:text-[24px]"
      >Nuestro proceso de trabajo</span
    >
    <h2
      class="font-bold text-[28px] leading-8 lg:text-[40px] lg:leading-[48px] mt-4"
    >
      ¿Cómo lo hacemos?
    </h2>

    <div class="flex flex-col gap-4 mt-10 max-w-[596px] mx-auto">
      {
        timeSteps.map(async (step, index) => {
          const { default: image } = await step.image();
          return (
            <TimeStep
              title={step.title}
              description={step.description}
              index={index + 1}
              orientation={index % 2 === 0 ? 'left' : 'right'}
              image={image}
            />
          );
        })
      }
    </div>
  </div>
</section>
