---
import { t } from 'i18next';
import First from '@/assets/icons/timestep/first.astro';
import TimeStep from './time-step.astro';
import Second from '@/assets/icons/timestep/second.astro';
import Third from '@/assets/icons/timestep/third.astro';
import Fourth from '@/assets/icons/timestep/fourth.astro';
import Fifth from '@/assets/icons/timestep/fifth.astro';

const timeSteps = [
  {
    title: t('about.timeline.steps.step-1.title'),
    description: t('about.timeline.steps.step-1.description'),
    alt: t('about.timeline.steps.step-1.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-1.png'),
  },
  {
    title: t('about.timeline.steps.step-2.title'),
    description: t('about.timeline.steps.step-2.description'),
    alt: t('about.timeline.steps.step-2.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-2.png'),
  },
  {
    title: t('about.timeline.steps.step-3.title'),
    description: t('about.timeline.steps.step-3.description'),
    alt: t('about.timeline.steps.step-3.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-3.png'),
  },
  {
    title: t('about.timeline.steps.step-4.title'),
    description: t('about.timeline.steps.step-4.description'),
    alt: t('about.timeline.steps.step-4.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-4.png'),
  },
  {
    title: t('about.timeline.steps.step-5.title'),
    description: t('about.timeline.steps.step-5.description'),
    alt: t('about.timeline.steps.step-5.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-5.png'),
  },
  {
    title: t('about.timeline.steps.step-6.title'),
    description: t('about.timeline.steps.step-6.description'),
    alt: t('about.timeline.steps.step-6.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-6.png'),
  },
  {
    title: t('about.timeline.steps.step-7.title'),
    description: t('about.timeline.steps.step-7.description'),
    alt: t('about.timeline.steps.step-7.alt'),
    image: () => import('@/assets/images/aboutUs/time-step-7.png'),
  },
];
---

<section class="bg-foreground relative">
  <div class="max-w-7xl mx-auto px-3 py-20 text-center relative z-20">
    <span class="text-primary-500 leading-5 text-base lg:text-[24px]"
      >{t('about.timeline.span')}</span
    >
    <h2
      class="font-bold text-[28px] leading-8 lg:text-[40px] lg:leading-[48px] mt-4"
      set:html={t('about.timeline.title')}
    />

    <div class="flex flex-col gap-4 mt-10 max-w-[596px] mx-auto relative">
      <div class="w-full h-full flex justify-center absolute top-[78px]">
        <svg
          class="lg:hidden block w-[356px] lg:h-[1920px] h-[1630px]"
          viewBox="0 0 274 2238"
          fill="none"
        >
          <path
            d="M46.5838 1H273V385.981H1V745.054H273V1141.234H1V1464.04H273V1847.34H1V2178"
            stroke="#212529"
            stroke-dasharray="16 16"></path>
        </svg>

        <svg
          class="hidden lg:block w-[356px] lg:h-[1920px] h-[1630px]"
          viewBox="0 0 274 2238"
          fill="none"
        >
          <path
            d="M46.5838 1H273V385.981H1V745.054H273V1141.234H1V1464.04H273V1847.34H1V2178"
            stroke="#212529"
            stroke-dasharray="16 16"></path>
        </svg>
      </div>
      {
        timeSteps.map(async (step, index) => {
          const { default: image } = await step.image();
          return (
            <TimeStep
              title={step.title}
              description={step.description}
              index={index + 1}
              orientation={index % 2 === 0 ? 'left' : 'right'}
              image={image}
              alt={step.alt}
            />
          );
        })
      }
    </div>
  </div>
  <First className="hidden lg:block absolute -top-52 right-0 " />
  <Second className="hidden lg:block absolute top-0 -left-48" />
  <Third className="hidden lg:block absolute top-48 left-0" />
  <Fourth className="hidden lg:block absolute right-0 bottom-0" />
  <Fifth className="hidden lg:block absolute -bottom-56 -left-24" />
</section>
