---
import { t } from 'i18next';
import { Image } from 'astro:assets';
import Button from '@/components/shared/button.astro';
import HeroImage from '@/assets/images/hero.webp';
import Waves from '@/components/shared/waves.astro';
---

<section class="pt-[114px] min-h-dvh relative flex justify-center items-center">
  <div
    class="max-w-7xl mx-auto flex flex-col md:flex-row items-center gap-6 lg:gap-[50px] px-3 pt-12 pb-[155px] lg:pt-[76px] lg:pb-[190px]"
  >
    <article
      class="hero-text w-full flex flex-col items-center md:items-start text-center md:text-left gap-6 md:gap-10"
    >
      <h2 class="text-5xl leading-[58px] xl:text-7xl font-bold">
        {t('home.hero.title')}
      </h2>
      <p
        class="text-base leading-7 xl:text-xl xl:leading-9"
        set:html={t('home.hero.description')}
      />
      <div class="flex flex-row gap-4">
        <Button text={t('home.hero.button')} type="primary" href="/" />
        <Button
          text={t('home.hero.contact')}
          type="secondary"
          href="/contact"
          outline
        />
      </div>
    </article>
    <div class="hero-image w-full hidden md:block max-w-[432px] max-h-[432px]">
      <Image
        src={HeroImage}
        class="w-full"
        alt="AxolotlCode - Hero"
        width={432}
        height={432}
        loading="eager"
      />
    </div>
  </div>
  <Waves />
  <div
    class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
    aria-hidden="true"
  >
    <div
      class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
    >
    </div>
  </div>
  <div
    class="absolute inset-x-0 -top-40 z-0 transform-gpu overflow-hidden blur-3xl sm:-top-80"
    aria-hidden="true"
    style="z-index: -1; margin-top: 100px;"
  >
    <div
      class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
      style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);"
    >
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap';

  gsap.from('.hero-text', {
    x: -100,
    opacity: 0,
    duration: 1,
    ease: 'power4.inOut',
  });

  gsap.from('.hero-image', {
    x: 100,
    opacity: 0,
    duration: 1,
    ease: 'power4.inOut',
  });
</script>
